/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #f48fb1;
$gray                       : #9e8a8e;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);


$background                 : #2a1a1f;
$background-light           : #3d2830;
$background-lighter         : #4e3540;
$text                       : #fce4ec;
$link                       : #f48fb1;
$link-dark                  : #f06292;
$link-light                 : #f8bbd0;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 12px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background-light};
    --global-border-color               : #{$link};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #{$background-light};
    --global-code-text-color            : #f8bbd0;
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$link};
    --global-masthead-link-color-hover  : #{link-dark};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #a1a1a1;
    --global-thead-color                : #{$background-lighter};
}

