/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #ff459c;
$gray                       : #9e8a8e;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #e53935;
$info-color                 : #c2185b;
$notice-color               : #9e8a8e;
$success-color              : #66bb6a;
$warning-color              : #ffa726;

/* Other basic settings for the template */
$border-radius              : 12px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff9fb;
    --global-footer-bg-color            : #fce4ec;
    --global-border-color               : #df437c;
    --global-dark-border-color          : #f48fb1;
    --global-code-background-color      : #fff0f3;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$dark-gray};
    --global-link-color                 : #df437c;
    --global-link-color-hover           : #ff3e92;
    --global-link-color-visited         : #e91e63;
    --global-masthead-link-color        : #df437c;
    --global-masthead-link-color-hover  : #ff3e92;
    --global-text-color                 : #4a3035;
    --global-text-color-light           : #555555;
    --global-thead-color                : #{$lighter-gray};
}

