{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
  
  // Set theme as early as possible to avoid flash of unstyled content (FOUC)
  (function() {
    var storedTheme = localStorage.getItem("theme");
    var defaultTheme = document.documentElement.getAttribute("data-theme");
    var browserPref = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    var useTheme = storedTheme || defaultTheme || browserPref;
    
    if (useTheme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else if (useTheme === "light") {
      document.documentElement.removeAttribute("data-theme");
    }
  })();
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
